@app.route("/report", methods=["GET", "POST"])
def report():

    global last_rows
    hasil = None

    if request.method == "POST":

        tanggal_cek = request.form["tanggal"]
        shift = request.form["shift"]
        validated = request.form["validated"]
        jam_awal = request.form["jam_awal"].replace(":", "")
        jam_akhir = request.form["jam_akhir"].replace(":", "")

        file = request.files["file"]

        if file.filename == "":
            return render_template("report.html", hasil="❌ Upload file dulu")

        df = pd.read_excel(file)

        # cari kolom URL fleksibel
        url_cols = [c for c in df.columns if "video" in c.lower()]
        if not url_cols:
            return render_template("report.html", hasil="❌ Kolom URL VIDEO tidak ditemukan")

        url_col = url_cols[0]

        rows = []

        for _, r in df.iterrows():

            try:

                url = str(r[url_col]).strip()
                if not url or "http" not in url:
                    continue

                # =========================
                # PARSING RAW DARI URL (FIX)
                # =========================
                parts = url.split("/")

                folder = parts[-2]  # CLOSEDEYES_20260310_001338
                sls = parts[-3]     # SLS30I607

                raw_format = f"{sls}-{folder}"

                bagian1, tanggal, jam = raw_format.split("_")
                sls_fix, alert = bagian1.split("-")

                # kurangi 1 jam
                jam_dt = pd.to_datetime(jam, format="%H%M%S") - pd.Timedelta(hours=1)
                jam_final = jam_dt.strftime("%H%M%S")

                # filter jam
                if not (jam_awal <= jam_final <= jam_akhir):
                    continue

                pid = f"{sls_fix}-{alert}_{tanggal}_{jam_final}"

                # =========================
                # MATCH RAWDATA VIA ANGKA
                # =========================
                angka = ''.join(filter(str.isdigit, str(r["KODE KENDARAAN"])))
                match = df_raw[df_raw["ANGKA"] == angka]

                if match.empty:
                    continue

                distrik = match.iloc[0]["distrik"]
                ip = match.iloc[0]["device_ip"]

                rows.append([
                    tanggal_cek,
                    pid,
                    angka,
                    distrik,
                    sls_fix,
                    ip,
                    alert,
                    r["INTERVENSI - STATUS CONTEXT"],
                    r["WAKTU KE SERVER GABUNGAN"],
                    "",
                    "",
                    f"SHIFT {shift}",
                    validated,
                    url
                ])

            except:
                continue

        rows.sort(key=lambda x: x[1])

        hasil = rows
        last_rows = rows

    return render_template("report.html", hasil=hasil)
