<form method="post" class="card p-4 shadow-sm">

<div class="row g-3">

<div class="col-md-3">
<label>Tanggal</label>
<input type="date" name="tanggal" class="form-control" required>
</div>

<div class="col-md-3">
<label>Shift</label>
<select name="shift" class="form-control">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
</select>
</div>

<div class="col-md-3">
<label>Validated By</label>
<input type="text" name="validated" class="form-control" required>
</div>

<div class="col-md-12">
<label>Paste URL Video (boleh banyak)</label>
<textarea name="urls" class="form-control" rows="8"></textarea>
</div>

</div>

<button class="btn btn-primary mt-3">Generate</button>

</form>
